html {width:100%; overflow-x:hidden;}
/* Tool Tips */

#dhtmltooltip{
position: absolute;
left: -300px;
width: 250px;
border: 1px solid #D4D4D4;
padding: 10px;
background-color: #F1F1F1;
visibility: hidden;
z-index: 100;
*filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;}

.featuredpopName {
font:normal 14px Arial;}

/* END Tips */


body {
margin:0;
width:100%;
overflow-x:hidden;
}

.helpicon { 
cursor:help;
width:22px; 
height:16px; 
padding-right:6px; 
padding-bottom:2px;
background-image:url(/admin/images/tip-blue-sm.png);
background-repeat: no-repeat;
}



/* Global font definitions */

body, div, p, th, td, li, dd {
font:normal 11px Tahoma; 
color: #053389;
}

img {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader();}

/* Global link definitions */

a:link, a:visited {color:#053389;text-decoration:none;}
a:hover {color:#CC6600; text-decoration:none;}
	
.breadcrumb-bar {
background:url(../images/ix_h.jpg) repeat-x;
height: 24px;
}

a.breadcrumblink:link {color: #FFFFFF; font: bold 11px;}
a.breadcrumblink:visited {color: #FFFFFF; font: bold 11px;}
a.breadcrumblink:hover {color: #FFFF00; font: bold 11px;}

.tablefont_header {font:10px tahoma;
}

/* END Global link definitions */

/* Info table styles */


/* data table */
.dataTableHeadingRow {height:22px; background-color: #6295FD;}
.dataTableHeadingContent {height:22px; font:bold 11px Arial; color: #ffffff; cursor:pointer;}
.dataTableRow { background-color: #F0F1F1; }
.dataTableRowSelected { background-color:#FFFFC4; }
.dataTableRowOver { background-color: #FFFFC4; cursor: pointer; height:23px; border-right:solid 1px #FFFFFF; border-bottom:1px solid #FFFFFF;}
.dataTableContent { font: bold 12px Arial; color: #000000; height:23px; border-left:none; border-top:none; border-right:solid 1px #FFFFFF; border-bottom:solid 1px #FFFFFF;}

.tableinfo_right-btm {
font: 11px Arial; color: #000000; height:23px; border-right:solid 1px #FFFFFF; border-bottom:1px solid #FFFFFF;
}

.tableinfo_right-end {
border-bottom:1px solid #FFFFFF;
}

.align_right {
  text-align: right; padding-right: 4px;
}

.tableinfo_col2 {

width:81px; height:23px; border-right:solid 1px #FFFFFF; border-bottom:1px solid #FFFFFF;
}

.tableinfo_orders {
height:18px; 
font:bold 11px arial; 
color:#000000;
border:solid 1px #FFFFFF; border-top:0;
padding-left:7px;
}

/* END Info table styles */

/* ###### Vertical Menu ###### */

.Accordion {
	overflow: hidden;
}

/* This is the selector for the AccordionPanel container which houses the
 * panel tab and a panel content area. It doesn't render visually, but we
 * make sure that it has zero margin and padding.
 *
 * The name of the class ("AccordionPanel") used in this selector is not necessary
 * to make the widget function. You can use any class name you want to style an
 * accordion panel container.
*/
.AccordionPanel {
	margin: 0;
	padding: 0;
}

.AccordionPanelTab {
	background-color: #E2E2E2;
	padding:0 0 3px 0;
	height:48px;
	cursor:pointer;
    margin:0;
    color:#053389;
   text-align:left;
    border:1px solid #D4D4D4;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.AccordionPanelTab h4 {
	margin: 0;
	padding: 5px 2px 4px 6px;
} 

/* This is the selector for the AccordionPanelTab. This container houses
 * the title for the panel. This is also the container that the user clicks
 * on to open a specific panel.
 *
 * The name of the class ("AccordionPanelTab") used in this selector is not necessary
 * to make the widget function. You can use any class name you want to style an
 * accordion panel tab container.
 */


/* This is the selector for a Panel's Content area. It's important to note that
 * you should never put any padding on the panel's content area if you plan to
 * use the Accordions panel animations. Placing a non-zero padding on the content
 * area can cause the accordion to abruptly grow in height while the panels animate.
 *
 * Anyone who styles an Accordion *MUST* specify a height on the Accordion Panel
 * Content container.
 *
 * The name of the class ("AccordionPanelContent") used in this selector is not necessary
 * to make the widget function. You can use any class name you want to style an
 * accordion panel content container.
 */
.AccordionPanelContent {
	margin: 0;
    border-right:1px solid #D4D4D4;
    display: none;
}

/* This is an example of how to change the appearance of the panel tab that is
 * currently open. The class "AccordionPanelOpen" is programatically added and removed
 * from panels as the user clicks on the tabs within the Accordion.
 */


.AccordionPanelOpen .AccordionPanelTab {
	background-color: #F1F1F1;
}

.AccordionPanelOpen .AccordionPanelTab AjaxTabTitles li {
list-style-type: none;
text-align: left;
}

/* This is an example of how to change the appearance of the panel tab as the
 * mouse hovers over it. The class "AccordionPanelTabHover" is programatically added
 * and removed from panel tab containers as the mouse enters and exits the tab container.
 */

.AccordionPanelOpen .AccordionPanelTabHover {
	color: #FFFFC4;
}

.AccordionPanelOpen .AccordionPanelTab h4 { background: url('/admin/images/minus.gif') no-repeat left 50%; width:11px; height:11px;}

/* This is an example of how to change the appearance of all the panel tabs when the
 * Accordion has focus. The "AccordionFocused" class is programatically added and removed
 * whenever the Accordion gains or loses keyboard focus.
 */
.AccordionFocused .AccordionPanelTab {
	outline: #FFFFFF dotted thin;
}

/* This is an example of how to change the appearance of the panel tab that is
 * currently open when the Accordion has focus.
 */
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #FFFFC4;
	outline:#F1F1F1 dotted thin;
}
.AccordionPanelClosed .AccordionPanelTab h4 { background: url('/admin/images/plus.gif') no-repeat left 50%; }
/* .AccordionPanelClosed .AccordionPanelContent {display:none; visibility:hidden; *height:0px; width:100%; *overflow:hidden;} */


.AccordionPanelPending .AccordionPanelTab h4 { background: url('/admin/images/loading.gif') no-repeat left 50%; }

.AccordionPanelClosed .AccordionPanelTab AjaxTabTitles li {
list-style-type: none; 
text-align: left;
*margin-left:-15px;
}


.modelAccordion .AccordionPanelOpen .AccordionPanelTab {
	background-color: #FFFFC4;
}


.modelAccordion .AccordionPanelTabHover {
background-color:#FFFFC4;
}


.modelAccordion .AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #FFFFC4;
	outline: none;
}

.tabEven {
  background-color:#F0F5FB;
}

.tabOdd {
  background-color:#EBF1F5;
}

/* ###### END Verticla Menu  ###### */

/* Ajax Tabs */

.AjaxTabTitles {
list-style-type: none; 
text-align: left;
*margin-left:-15px;}

.AjaxTabTitles li {
list-style-type: none; 
text-align: left;
*margin-left:-15px;
}

.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(../images/shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li.selected{
position: relative;
top: 1px;
}

.shadetabs li.selected a{ /*selected main tab style */
background-image: url(../images/shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}

.contentstyle{
width:100%;
overflow:-moz-scrollbars-none;
*overflow:visible;
}

/* END Ajax Tabs */

.iframeclass {
width:100%;
overflow:-moz-scrollbars-none;
*overflow:hidden;
}

/*.colOver table:hover{
background-color: #FFFFC4;
}*/

.blackout {
	position: absolute;
	background-color: #ffffff;  /* the background          */
    filter:alpha(opacity=50);   /* Internet Explorer       */
    -moz-opacity:0.5;           /* Mozilla 1.6 and below   */
    opacity: 0.5;               /* newer Mozilla and CSS-3 */
	z-index: 200;
}

.popupShadow {
	position: absolute;
	background:  url(../images/shadow.gif) no-repeat bottom right black;
	z-index:205;
}

.popupContents {
	position: absolute;
	background-color: #eee;
	border:1px solid #bbb;
	z-index:206;
	
}

a img {
	border: none;
}

.conf_field {
  margin-top:0.5em; margin-bottom:0.5em;
}
.conf_error {
  color:red; margin:0; padding:0;
}

.returned {
  text-decoration:line-through;
  color:#7F7F7F;
}

.tabEdit .tabOpen {
  padding:4px;
  color:#3F3FFF;
  border:solid #7F7FFF 1px;
  font-weight:700;
  background-color:#BFFFFF;
}
.tabEdit .tabClosed {
  padding:4px;
  color:#BFFFFF;
  border:solid #7F7FFF 1px;
  font-weight:700;
  background-color:#3F3FFF;
}

td {text-align:left}

a:link, a:visited{color:#080381; text-decoration:none; }
a:hover { color:#CC6600; text-decoration:none; }

a.text:link, a.text:visited { color: #000000; text-decoration: none;}
a.text:hover { color: #000000; text-decoration: underline; }

a.main:link, a.main:visited { color: #ffffff; text-decoration: none;}
a.main:hover { color: #ffffff; text-decoration: underline; }

a.sub:link, a.sub:visited { color: #dddddd; text-decoration: none;}
a.sub:hover { color: #dddddd; text-decoration: underline; }

.heading {font: bold 20px arial; line-height: 1.5; color: #D3DBFF;}
.main {font: bold 17px arial; line-height: 1.5; color: #ffffff;}
.sub {font:bold 12px Arial; line-height: 1.5; color: #dddddd;}
.text {font:bold 11px Verdana; line-height: 1.5; color: #000000;}

.menuBoxHeading {
font: bold 12px Verdana; 
color: #ffffff; 
background-color: #7187bb; 
border: 1px solid #7187bb;
}
.infoBox {font:normal 10px Verdana; color: #080381; background-color: #f2f4ff; border: 1px solid #7187bb;}
.smallText {font:normal 10px Verdana;}

.menuitem {
padding: 2px 4px 2px 4px; 
text-decoration: none;
font-family: ms sans serif; 
font-size: 11px;
font-weight: normal; 
display: block;
}

.seperator {
border-top: 1px solid #999999;
border-bottom: 1px solid #eeeeee;
margin: 2px;
}
a.menuitem:link {
color: #000000;
text-decoration:none;
}
a.menuitem:hover {
color: #ffffff;
text-decoration:none;
background-color: #0A246A;
}
a.menuitem:visited {
text-decoration:none;
}

.AccordionPanelTab {
	background-color: #F1F1F1;
	cursor:pointer;
    margin:0;
	padding:3px 0 0 0;
    color:#053389;
	height:39px;
   text-align:left;
    border:1px solid #D4D4D4;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.AccordionPanelTabHover {
background-color:#FFFFC4;
}


.AccordionPanelOpen .AccordionPanelTab {
	background-color: #FFFFC4;
}


/* topmenu */

#nav {padding:0; margin:0; list-style:none; height:21px; background-color:#EEEFEF; position:relative; z-index:500; font-weight:normal; font-size: 11px; font-family: tahoma;}

#nav li.top {display:block; float:left; height:21px;}

#nav li a.top_link {display:block; border:dotted 1px #EEEFEF; float:left; height:18px; line-height:18px; color:#000; text-decoration:none; padding:0 0 0 12px; cursor:pointer;}
#nav li a.top_link span {float:left; display:block; padding:0 9px 0 0; height:19px;}
#nav li a.top_link span.down {float:left; display:block; padding:0 9px 0 0; height:19px;}

#nav li:hover a.top_link {color:#0033FF; border:dotted 1px #999;}
#nav li:hover a.top_link span {}
#nav li:hover a.top_link span.down {}

/* Default list styling */

#nav li:hover {position:relative; z-index:200; opacity:0.9; filter:alpha(opacity=90); background-color:#FFF}

#nav li:hover ul.sub {left:1px; top:20px; padding:4px; white-space:nowrap; width:105px; height:auto; z-index:300; background-color:#EEEFEF}
#nav li:hover ul.sub li {display:block; height:20px; position:relative; float:left; width:100%; font-weight:normal;}
#nav li:hover ul.sub li a {display:block; font-size:11px; height:18px; width:110px; line-height:18px; text-indent:5px; color:#000; text-decoration:none;}
#nav li ul.sub li a.fly {background:#EEEFEF url(images/arrow.gif) 95% 7px no-repeat;}
#nav li:hover ul.sub li a:hover {color:#0033FF; border:dotted 1px #999; width:108px; background-color:#FFF;}
#nav li:hover ul.sub li a.fly:hover {background:#EEEFEF url(images/arrow_over.gif) 95% 7px no-repeat; color:#0033FF;}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:95px; top:3px; background: #fff; padding:3px;  white-space:nowrap; width:110px; z-index:400; height:auto;}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background:#EEEFEF url(images/arrow_over.gif) 97% 7px no-repeat; color:#0033FF; border:dotted 1px #999; outline:none} 

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background:#fff url(images/arrow.gif) 97% 7px no-repeat; color:#000; border-color:#EEEFEF; outline:none;} 

/* end topmenu */
