RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} \.php$
RewriteCond %{REQUEST_FILENAME}su -f
RewriteRule (.*) $1su

php_flag display_errors on

Options +ExecCGI
AddHandler cgi-script .phpsu

php_value session.auto_start off
php_value register_long_arrays on
php_flag zend.ze1_compatibility_mode Off

ModPagespeed on
ModPagespeedCriticalImagesBeaconEnabled false